# Ignore dev-related folders
.vscode

# Ignore sensitive credentials
credentials.toml

# Ignore user-specific config
config.toml

# Ignore virtual env
venv

# Ignore logs
logs/

# Ignore Python cache
__pycache__